.Stack {
  display: grid;
  grid-auto-flow: var(--flow);
  grid-gap: var(--gap);
  width: var(--width);
  height: var(--height);
}

.Stack--y {
  align-content: var(--distribute);
  justify-items: var(--align);
}

.Stack--x {
  align-items: var(--align);
  justify-content: var(--distribute);
}